
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "/ET1/employment/not-working/notice-type"
}) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" action="average-weekly-hours">

                <div class="govuk-form-group">
                  <h1 class="govuk-heading-xl">
                    How many {{ data['notice-type'] }} in your notice period?
                  </h1>
                  <label class="govuk-label" for="notice-length">
                    For example, 4
                  </label>
                  <input class="govuk-input govuk-input--width-2" id="notice-length" name="notice-length" type="text">
                </div>


      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" onclick="window.location.href='/ET1/claim-saved';">
          Save as draft
        </button>
    </form>
      </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Contact us
                </span>
              </summary>
              <div class="govuk-details__text">
                Call one of our Employment Tribunal customer contact centres. They cannot give you legal advice.
                <br><br>
                  Telephone: 0300 123 1024 <br>
                  Telephone: 0300 303 5176 (Welsh language) <br>
                  Telephone: 0300 790 6234 (Scotland) <br>
                  Textphone: 18001 0300 123 1024 (England and Wales) <br>
                  Textphone: 18001 0300 790 6234 (Scotland) <br>
                  Monday to Friday, 9am to 5pm<br>
                  <br><br>
                  <a class="govuk-body" href="#">Find out about call charges</a>
               </div>
            </details>


    </div>
  </div>

{% endblock %}
