
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "/ET1/employment/are-you-still-working"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="start-date">
      <h1 class="govuk-heading-xl">
        Employment details
      </h1>

      <p class="govuk-body">Tell us some details about working for the organisation or person you’re making your claim against.
        <br><br>
        These details will be used to help progress your claim. </p>

      <div class="govuk-form-group">
        <h2 class="govuk-heading-m">Job title (optional)</h2>
      <label class="govuk-label" for="job-title">
        Tell us what role you had at the time of your dispute
      </label>
      <input class="govuk-input govuk-input-width-two-thirds" id="job-title" name="job-title" type="text">
    </div>


      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" onclick="window.location.href='/ET1/claim-saved';">
          Save as draft
        </button>
    </form>
      </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Contact us
                </span>
              </summary>
              <div class="govuk-details__text">
                Call one of our Employment Tribunal customer contact centres. They cannot give you legal advice.
                <br><br>
                  Telephone: 0300 123 1024 <br>
                  Telephone: 0300 303 5176 (Welsh language) <br>
                  Telephone: 0300 790 6234 (Scotland) <br>
                  Textphone: 18001 0300 123 1024 (England and Wales) <br>
                  Textphone: 18001 0300 790 6234 (Scotland) <br>
                  Monday to Friday, 9am to 5pm<br>
                  <br><br>
                  <a class="govuk-body" href="#">Find out about call charges</a>
               </div>
            </details>


    </div>
  </div>

{% endblock %}
