
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "/ET1/employment/working-notice/pay"
}) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form method="post" action="benefits">
        <h1 class="govuk-heading-xl">Did the respondent make any contributions to your pension?</h1>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="pension-hint">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension-yes" name="pension" type="radio" value="Yes" data-aria-controls="conditional-pension">
                <label class="govuk-label govuk-radios__label" for="pension-yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-pension">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="pension-amount">
                    Enter their pension contributions - worked out weekly
                  </label>
                  <div class="govuk-input__wrapper">
                      <div class="govuk-input__prefix" aria-hidden="true">£</div>
                      <input class="govuk-input govuk-input--width-5" id="pension-amount" name="pension-amount" type="text" spellcheck="false">
                    </div></div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension-no" name="pension" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="pension-no">
                  No
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="pension-not-sure" name="pension" type="radio" value="Not sure">
                <label class="govuk-label govuk-radios__label" for="pension-not-sure">
                  Not sure
                </label>
              </div>

            </div>



              </div>
            </div>

          </fieldset>
        </div>


      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button" type="submit">
          Save and continue
        </button>

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" onclick="window.location.href='/ET1/claim-saved';">
          Save as draft
        </button>
    </form>
      </div>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Contact us
                </span>
              </summary>
              <div class="govuk-details__text">
                Call one of our Employment Tribunal customer contact centres. They cannot give you legal advice.
                <br><br>
                  Telephone: 0300 123 1024 <br>
                  Telephone: 0300 303 5176 (Welsh language) <br>
                  Telephone: 0300 790 6234 (Scotland) <br>
                  Textphone: 18001 0300 123 1024 (England and Wales) <br>
                  Textphone: 18001 0300 790 6234 (Scotland) <br>
                  Monday to Friday, 9am to 5pm<br>
                  <br><br>
                  <a class="govuk-body" href="#">Find out about call charges</a>
               </div>
            </details>


    </div>
  </div>

{% endblock %}
