
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Alpha"
  },
  html: 'Your <a class="govuk-link" href="#">feedback</a> helps us to improve this service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "/research-220217/amend/3-why"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <form action="5-check-your-answers" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">Amend the claim</span>
            <h1 class="govuk-heading-l">
              Have you already asked the other parties whether they agree to your amendment?
            </h1>
          </legend>
          <div id="more-detail-hint" class="govuk-hint">
            Telling the tribunal whether you have will allow them to deal with your request more quickly.
          </div>

              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="yes" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="contact">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      What was their response?
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
                    <label class="govuk-label" for="file-upload-1">Upload a file (optional)</label>
                    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                  </div>

                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="no">
                    <label class="govuk-label govuk-radios__label" for="contact-2">
                      No
                    </label>
                  </div>
              </div>



        </div>
        </fieldset>


        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Contact us for help
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Ask a question or get help in your language. <br><br>
                Telephone: <br>
                0300 123 1024<br>
                0300 303 5176 (Welsh language)<br>
                0300 790 6234 (Scotland)<br><br>
                Textphone:<br>
                18001 0300 123 1024 (England and Wales)<br>
                18001 0300 790 6234 (Scotland)<br><br>
                Monday to Friday, 9am to 5pm <br><br>
                <a href="#"> Find out about call charges (opens in a new window)</a>
            </div>
        </details>

    </form>

    </div>
  </div>

{% endblock %}
