
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="sign-in">
      <h1 class="govuk-heading-xl">
        Account created
      </h1>

      <p class="govuk-body">You can now sign into your Employment Tribunal account.</a></p>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>
    </div>
  </div>

{% endblock %}
