
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

<!-- {{ govukBackLink({
  text: "Back",
  href: "#"
}) }} -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Steps to making your claim
      </h1>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Application details</caption>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Claim type</th>
            <td class="govuk-table__cell">Dismissal<br>Whistleblowing</td>
          </tr>
        </tbody>
      </table>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Your details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="your-details/DOB" aria-describedby="personal-details">
                  Personal details
                </a>
              </span>
            <!-- When DOB & Gender complete ><!-->
            {% if data['title'] and data['DOB-day'] %}<strong class="govuk-tag app-task-list__tag" id="contact-details-status">Completed</strong>{% endif %}
            <!-- When DOB complete but not gender ><!-->
            {% if data['DOB-day'] and not data['title'] %}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>{% endif %}
            <!-- When not started ><!-->
            {% if not data['DOB-day'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>{% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="your-details/address-1" aria-describedby="contact-details-status">
                  Contact details
                </a>
              </span>
              <!-- When address & telephone complete ><!-->
              {% if data['claimant-address'] and data['claimant-telephone'] %}<strong class="govuk-tag app-task-list__tag" id="contact-details-status">Completed</strong>{% endif %}
              <!-- When address complete but not telephone ><!-->
              {% if data['claimant-address'] and not data['claimant-telephone']%}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="contact-details-status">In progress</strong>{% endif %}
              <!-- When not started ><!-->
              {% if not data['claimant-address'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="contact-details-status">Not started</strong>{% endif %}

            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="your-details/contact-preference" aria-describedby="your-preferences-status">
                  Your preferences
                </a>
              </span>
              <!-- When contact preferences & video hearings & reasonable adjustments complete ><!-->
              {% if data['contact-preference'] and data['video-hearings'] and data['reasonable-adjustments'] %}<strong class="govuk-tag app-task-list__tag" id="your-preferences-status">Completed</strong>{% endif %}
              <!-- When contact or video hearings complete but not reasonable adjustments e.g. in progress ><!-->
              {% if data['contact-preference'] and not data['video-hearings'] and data['reasonable-adjustments'] %}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="your-preferences-status">In progress</strong>{% endif %}
              <!-- When not started ><!-->
              {% if not data['contact-preference'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="your-preferences-status">Not started</strong>{% endif %}

            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Employment and respondent details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="employment/did-you-work" aria-describedby="employment-status">
                  Employment status
                </a>
              </span>
            <!-- When never worked so complete ><!-->
            {% if data['did-you-work'] === 'X' %}<strong class="govuk-tag app-task-list__tag" id="employment-status-status">Completed</strong>{% endif %}
            <!-- When all complete ><!-->
            {% if data['benefits'] %}<strong class="govuk-tag app-task-list__tag" id="employment-status-status">Completed</strong>{% endif %}
            <!-- When started - current employment status identified ><!-->
            {% if data['current-employment-status'] %}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="employment-status-status">In progress</strong>{% endif %}
            <!-- When not started ><!-->
            {% if not data['did-you-work'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="employment-status-status">Not started</strong>{% endif %}
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="respondents/respondent-1-name" aria-describedby="Respondent-details-status">
                  Respondent details
                </a>
              </span>
              <!-- When completed ><!-->
              {% if data['respondent-acas-number'] %}<strong class="govuk-tag app-task-list__tag" id="respondent-details-status">Completed</strong>{% endif %}
              <!-- when in progress ><!-->
              {% if data['respondent-1-name'] and not data['respondent-acas-number']  %}<strong class="govuk-tag govuk-tag--blue app-task-list__tag" id="respondent-details-status">In progress</strong>{% endif %}
              <!-- When not started ><!-->
              {% if not data['respondent-1-name'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="respondent-details-status">Not started</strong>{% endif %}

            </li>
          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Claim details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="describe" aria-describedby="Describe-status">
                  Describe what happened to you
                </a>
              </span>
              <!-- When completed ><!-->
              {% if data['describe-what-happened'] %}<strong class="govuk-tag app-task-list__tag" id="Tell-us-status">Completed</strong>{% endif %}
              <!-- When not started ><!-->
              {% if not data['describe-what-happened'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="Describe-status">Not started</strong>{% endif %}

            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a class="govuk-link--no-visited-state" href="tell-us-what-you-want" aria-describedby="Tell-us-status">
                  Tell us what you want from your claim
                </a>
              </span>
              <!-- When completed ><!-->
              {% if data['recommendation-request'] %}<strong class="govuk-tag app-task-list__tag" id="Describe-status">Completed</strong>{% endif %}
              <!-- When not started ><!-->
              {% if not data['recommendation-request'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="Describe-status">Not started</strong>{% endif %}

            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Check and submit
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <!-- can start -->
                {% if  data['what-you-want'] %}
                <a class="govuk-link--no-visited-state" href="check-your-answers" aria-describedby="Check-status">
                  Check your answers
                </a>{% endif %}
                <!-- cannot start -->
                {% if not data['what-you-want'] %}
                  Check your answers
                {% endif %}
              </span>

              <!-- When can't start yet -->
              {% if not data['what-you-want'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="Check-status-status">Cannot start yet</strong>{% endif %}
              <!-- When can start -->
              {% if data['what-you-want'] %}<strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="Describe-status">Not started</strong>{% endif %}

            </li>
          </ul>
        </li>
      </ol>

      <div class="govuk-button-group">

      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" onclick="window.location.href='claim-saved';">
        Save as draft
      </button>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us
          </span>
        </summary>
        <div class="govuk-details__text">
          Call one of our Employment Tribunal customer contact centres. They cannot give you legal advice.
          <br><br>
            Telephone: 0300 123 1024 <br>
            Telephone: 0300 303 5176 (Welsh language) <br>
            Telephone: 0300 790 6234 (Scotland) <br>
            Textphone: 18001 0300 123 1024 (England and Wales) <br>
            Textphone: 18001 0300 790 6234 (Scotland) <br>
            Monday to Friday, 9am to 5pm<br>
            <br><br>
            <a class="govuk-body" href="#">Find out about call charges</a>
         </div>
      </details>
    </div>
  </div>

{% endblock %}
