
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Did you need someone to help you fill in our online form?
      </h1>
      <p class="govuk-body">We want to find out about the kind of help and support people need so we can help improve our services for others.</p>

      <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>

      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" onclick="window.location.href='claim-saved';">
        Save for later
      </button>
      </div>

    </div>
  </div>

{% endblock %}
