
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/trusted-helper-answer">
      <h1 class="govuk-heading-xl">
        Did you need someone to help you fill in our online form?
      </h1>
      <p class="govuk-body">We want to find out about the kind of help and support people need so we can help improve our services for others.</p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="trusted-helper" name="trusted-helper" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="trusted-helper-2" name="trusted-helper" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="trusted-helper-3" name="trusted-helper" type="radio" value="Prefer not to say">
              <label class="govuk-label govuk-radios__label" for="trusted-helper-3">
                Prefer not to say
              </label>
            </div>
                </div>

          </div>
        </div>
        </fieldset>
</div>

      <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" type="submit">
        Continue
      </button>

      </div>

    </div>
  </div>

{% endblock %}
