
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  html: 'Your <a class="govuk-link--no-visited-state" href="#">feedback</a> helps us to improve this service.'
}) }}

{{ govukBackLink({
  text: "Back",
  href: "gender"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="address-2">
      <h1 class="govuk-heading-xl">
        What is your contact or home address?
      </h1>
      <p class="govuk-body">We'll send any correspondence to this address.</p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="address-postcode">
          Enter a UK postcode
        </label>
        <input class="govuk-input govuk-input--width-10" id="claimant-postcode" name="claimant-postcode" type="text" value="" aria-describedby="claimant-postcode" autocomplete="postal-code">
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            I don't live in the UK
          </span>
        </summary>
        <div class="govuk-details__text">
          <label class="govuk-label" for="width-20">
            <b>Building and street</b>
          </label>
          <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-3" id="width-20" name="building-1" type="text">
          <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-3" id="width-20" name="building-1" type="text">
          <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-3" id="width-20" name="building-1" type="text">

          <label class="govuk-label" for="width-20">
            <b>Town or city</b>
          </label>
          <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-3" id="width-20" name="building-1" type="text">

          <label class="govuk-label" for="width-20">
          <b>  County or state (Optional)</b>
          </label>
          <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-3" id="width-20" name="building-1" type="text">

          <label class="govuk-label" for="width-20">
          <b>  Country</b>
          </label>
          <input class="govuk-input govuk-input--width-20 govuk-!-margin-bottom-3" id="width-20" name="building-1" type="text">

          <label class="govuk-label" for="width-20">
          <b>  Postcode or zip code</b>
          </label>
          <input class="govuk-input govuk-input--width-10 govuk-!-margin-bottom-3" id="width-20" name="building-1" type="text">


        </div>

      </details>

      <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button" type="submit">
        Find address
      </button>
      <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" onclick="window.location.href='/../ET1/claim-saved';">
        Save as draft
      </button>
      </div>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Contact us
          </span>
        </summary>
        <div class="govuk-details__text">
          Call one of our Employment Tribunal customer contact centres. They cannot give you legal advice.
          <br><br>
            Telephone: 0300 123 1024 <br>
            Telephone: 0300 303 5176 (Welsh language) <br>
            Telephone: 0300 790 6234 (Scotland) <br>
            Textphone: 18001 0300 123 1024 (England and Wales) <br>
            Textphone: 18001 0300 790 6234 (Scotland) <br>
            Monday to Friday, 9am to 5pm<br>
            <br><br>
            <a class="govuk-body" href="#">Find out about call charges</a>
         </div>
      </details>
    </div>
  </div>

{% endblock %}
